{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock extrahead %}
{% block content %}
<br>
<div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#">
                {% if product.thumbnail  %}
                <img class="card-img-top" src="{{ product.thumbnail.url }}" alt="" srcset="">
                {% else %}
                <img class="card-img-top" src="/static/images/settings.gif" alt="">
                {% endif %}
            </a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{product.title}}</a>
                </h4>
                {% if product.price  %}
                    <h5>{{ product.price }}</h5>                               
                {% endif %}
                
                <p class="card-text">{{product.content | safe | truncatewords:"50"}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}