{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/service_list.css' %}">
{% endblock extrahead %}
{% block content %}
<script src="https://unpkg.com/magic-grid@3.1.2/dist/magic-grid.min.js"></script>
<div class="row">
    <div class="col-md-9 pt-3">
        <div class="row">
            {% for service in services %}
            <div class="col-lg-5 col-md-6 mb-4 bg-warning text-muted service">
                <div class="p-2 bg-primary text-white">
                    <h2 href="#">{{service.title}}</h2>
                </div>
                <div class="thumbnail">
                    {% if service.thumbnail  %}
                        <img src="{{ service.thumbnail.url }}" alt="" srcset="">
                    {% else %}
                        <img src="/static/images/settings.gif" alt="" srcset="">
                    {% endif %}
                </div>
            </div>
            {% endfor %}       
        </div>     
    </div>
    <div class="col-md-3 pt-3">
        <div class="card bg-warning text-muted">
            <h2>Về chúng tôi</h2>
            <div class="fakeimg" style="height:100px;">Ảnh minh họa</div>
            <p style="margin:0">Phát triển bền vững theo thời gian!</p>
        </div>
        <div class="card bg-warning text-muted">
            <h3>Công trình tiêu biểu</h3>
            <div class="fakeimg">Ảnh minh họa</div><br>
            <div class="fakeimg">Ảnh minh họa</div><br>
            <div class="fakeimg">Ảnh minh họa</div>
        </div>
        <div class="card bg-warning text-muted">
            <h3>Liên hệ</h3>
            <p>Xã Phú Xuân, Huyện Bình Xuyên, Vĩnh Phúc</p>
            <p class="m-0 text-muted">Hotline: <a href="tel:0971925982"> 097 1925982</a></p>
        </div>
    </div>
</div>


{% endblock content %}